/project2/Resources
/project2/cocos2d
/project2/proj.android
/project2/proj.win32/.vs
/project2/proj.win32/Debug.win32
/project2/proj.win32/Release.win32
/project2/proj.win32/project2.vcxproj.filters
/project2/proj.win32/project2.vcxproj.user
